@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gh-hover {
    @apply text-emerald-700 hover:text-emerald-500
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-emerald-500 to-emerald-700
  }
}

@layer utilities {
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

  .animate-wiggle {
    animation: wiggle 0.5s linear;
  }
}
